@import "../../common/var";

////////////    Main Layout   ////////////
.main-layout {
  .main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    min-height: 100vh;
  }
  .main-header {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .main-content {
    box-sizing: border-box;
  }
}

////////////    Layout Component   ////////////

.sidebar {
  width: 100%;
  height: 100%;
  background-color: $background;
  &-header {
    text-align: left;
    padding: 1rem;
    .logo {
      width: 125px; 
      height: 100%;
    }
  }
  &-content {

  }
  &-footer {

  }
}