$background: hsla(var(--background), var(--opacity));
$primaryColor: hsla(var(--primary-color), var(--opacity));
$secondaryColor: hsla(var(--secondary-color), var(--opacity));


$boxShadow: hsla(var(--shadow-color), var(--shadow-opacity));