// color
$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$textColor: hsla(var(--text-color), var(--text-opacity));
$borderColor: hsla(var(--border-color), var(--border-opacity));

$background: hsla(var(--background), var(--opacity));
$containerBg: hsla(var(--container-bg), var(--container-bg-opacity));
$boxShadow: hsla(var(--shadow-color), var(--shadow-opacity));

