@use "@/styles/common/var.scss" as vars;
@use "@/styles/common/mixin.scss" as mixins;

////////////    Main Layout   ////////////
.main-layout {

  // layout left
  .layout-left {

  }

  // layout-right 
  .layout-right {
    @include mixins.flex(column);
    & > div {
      width: 100%;
    }
    .main-content { flex: 1; }
  }

  .main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 1;
    width: 250px;
    @include mixins.device("LPC") {
      width: 12%;
    }
  }
  .main-header {
    position: absolute;
    box-sizing: border-box;
    height: 80px;
  }
  .main-content {
    box-sizing: border-box;
  }
  .main-footer {
    height: 72px;
  }
}

////////////    Layout Component   ////////////

.sidebar {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-right: 1px solid vars.$borderColor;
  @include mixins.flex(column);
  & > div {
    width: 100%;
    box-sizing: border-box;
  }
  &-header {
    @include mixins.flex(row, flex-start, center);
    text-align: left;
    padding: 1rem;
    height: 80px;
    border-bottom: 1px solid vars.$borderColor;
    .logo {
      width: 125px; 
    }
  }
  &-content {
    flex: 1;
    #sidebar-menu {
      padding: 1rem;
    }
  }
  &-footer {
    height: 64px;
    padding: 1rem;
    border-top: 1px solid vars.$borderColor;
  }
}

.header {
  width: 100%;
  height: 100%;
  background-color: vars.$background;
  box-sizing: border-box;
  @include mixins.flex(row, space-between, center);
  padding: 0 2rem;
  & > div {
    box-sizing: border-box;
  }
  &-left {
    @include mixins.flex(row, flex-start, center, 12px);
    font-size: 18px;
    font-weight: 600;
  }
  &-right {
    @include mixins.flex(row, flex-start, center, 16px);
  }
}