@use "@/styles/common/var.scss" as vars;
@use "@/styles/common/mixin.scss" as mixins;

////////////    Container   ////////////

.container {
  width: 100%;
  &-type {
    box-sizing: border-box;
    &_page {
      width: 100%;
      height: 100%;
      @include mixins.device("LPC") {
        padding: 2rem;        
      }
    }
    &_section {
      @include mixins.device("LPC") {
        margin: 0 auto;
        max-width: 1720px;
      }
      // @include mixins.device("MPC") {
      //   margin: 0 auto;
      //   max-width: 1140px;
      // }
    }
  }
}

////////////    Card   ////////////
.card {
  padding: 1rem;
}

////////////    Icon  ////////////

.icon {
  
  padding: 8px;
  box-sizing: border-box;
  background-color: vars.$containerBg;
  // border: 1px solid vars.$borderColor;
  box-shadow: vars.$boxShadow 0px 3px 6px 0px;
  @include mixins.flex(row, center, center);
  &-shape_circle {
    border-radius: 50%;
  }
  &-shape_square {
    border-radius: 8px;
  }
}