#root {
  text-align: center;
}

#root #app {
  width: 100vw;
  height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  color-scheme: light dark;
  color: hsla(var(--text-color), var(--text-opacity));
  background-color: hsla(var(--background), var(--bg-opacity));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
