#app[data-theme="light"] {

  --primary-color: "";
  --secondary-color: "";
  --third-color: "";
  --opacity: 1;

  --text-color: 0, 0%, 0%;
  --text-opacity: 1;
  --background: 210, 29%, 97%;
  --bg-opacity: 1;
  --container-bg: 0, 0%, 100%;
  --container-bg-opacity: 1;

  --shadow-color: 218, 14%, 80%;
  --shadow-opacity: 0.3 ;
  --border-color: 0, 0%, 0%;
  --border-opacity: 0.12;
}