#app[data-theme="light"] {
  --color: 0, 0%, 13%;
  --color-opacity: 0.87;
  --opacity: 1;
  --background: 210, 29%, 97%;;
  --primary-color: "";
  --secondary-color: "";
  --third-color: "";
  --shadow-color: 218, 14%, 80%;
  --shadow-opacity: 0.3 ;
}